body {
  background-color: #000000;
  background-image: url(../img/js-holiday.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  font-family: "Mountains of Christmas", cursive;
  color: #fff;
  text-shadow: 5px 5px 5px #000000;
}

h1 {
  text-align: end;
  margin-right: 20%;
  margin-top: 5%;
  font-size: 76px;
  font-weight: 700;
  text-shadow: 5px 5px 5px #000000;
}

.strand {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -255px 0 0 -20px;
  padding: 0;
  pointer-events: none;
  width: 100%;
}

.strand li {
  position: relative;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 42px;
  height: 66px;
  border-radius: 50%;
  margin: 20px;
  display: inline-block;
  background: #f02241;
  box-shadow: 0px 4.66667px 24px 3px #f02241;
  -webkit-animation-name: flash-1;
  animation-name: flash-1;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.strand li:nth-child(4n + 3) {
  background: #4cd184;
  box-shadow: 0px 4.66667px 24px 3px rgba(0, 255, 255, 0.5);
  -webkit-animation-name: flash-2;
  animation-name: flash-2;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.strand li:nth-child(4n + 2) {
  background: #ffe65a;
  box-shadow: 0px 4.66667px 24px 3px #ffe65a;
  -webkit-animation-name: flash-3;
  animation-name: flash-3;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
}

.strand li:nth-child(4n + 4) {
  background: #2256ff;
  box-shadow: 0px 4.66667px 24px 3px #2256ff;
  -webkit-animation-name: flash-4;
  animation-name: flash-4;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
}

.strand li:nth-child(odd) {
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
}

.strand li:nth-child(3n + 1) {
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
}

.strand li::before {
  content: "";
  position: absolute;
  background: #222;
  width: 20px;
  height: 9.33333px;
  border-radius: 3px;
  top: -4.66667px;
  left: 11px;
}

.strand li::after {
  content: "";
  top: -14px;
  left: 26px;
  position: absolute;
  width: 72px;
  height: 18.66667px;
  border-bottom: solid #222 2px;
  border-radius: 50%;
}

.strand li:last-child:after {
  content: none;
}

.strand li:first-child {
  margin-left: 40px;
}

@-webkit-keyframes flash-1 {
  0%,
  100% {
    background: #f02241;
    box-shadow: 0px 4.66667px 24px 3px #f02241;
  }
  50% {
    background: rgba(240, 34, 65, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(240, 35, 65, 0.02);
  }
}

@keyframes flash-1 {
  0%,
  100% {
    background: #f02241;
    box-shadow: 0px 4.66667px 24px 3px #f02241;
  }
  50% {
    background: rgba(240, 34, 65, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(240, 35, 65, 0.02);
  }
}

@-webkit-keyframes flash-2 {
  0%,
  100% {
    background: #4cd184;
    box-shadow: 0px 4.66667px 24px 3px #4cd184;
  }
  50% {
    background: rgba(66, 178, 116, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(66, 178, 116, 0.02);
  }
}

@keyframes flash-2 {
  0%,
  100% {
    background: #4cd184;
    box-shadow: 0px 4.66667px 24px 3px #4cd184;
  }
  50% {
    background: rgba(66, 178, 116, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(66, 178, 116, 0.02);
  }
}

@-webkit-keyframes flash-3 {
  0%,
  100% {
    background: #ffe65a;
    box-shadow: 0px 4.66667px 24px 3px #ffe65a;
  }
  50% {
    background: rgba(255, 252, 98, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(255, 252, 98, 0.2);
  }
}

@keyframes flash-3 {
  0%,
  100% {
    background: #ffe65a;
    box-shadow: 0px 4.66667px 24px 3px #ffe65a;
  }
  50% {
    background: rgba(255, 252, 98, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(255, 252, 98, 0.2);
  }
}

@-webkit-keyframes flash-4 {
  0%,
  100% {
    background: #0152ff;
    box-shadow: 0px 4.66667px 24px 3px #2256ff;
  }
  50% {
    background: rgba(98, 135, 255, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(98, 121, 255, 0.2);
  }
}

@keyframes flash-4 {
  0%,
  100% {
    background: #0152ff;
    box-shadow: 0px 4.66667px 24px 3px #2256ff;
  }
  50% {
    background: rgba(98, 135, 255, 0.4);
    box-shadow: 0px 4.66667px 24px 3px rgba(98, 153, 255, 0.2);
  }
}

.content {
  position: absolute;
  top: 33%;
  left: 31%;
}

h2 {
  font-size: 30px;
}

button {
  margin-top: 9px;
  box-shadow: 2px 4px #000000;
}

.rob,
label {
  font-family: "Roboto", sans-serif;
}

#ps {
  font-style: italic;
}
